---
import { Image } from "astro:assets";
import HeaderBlock from "./blocks/HeaderBlock.astro";
import Arrow from "../components/elements/Arrow.astro";

import img1 from "../assets/images/slide/img1.png";
import img2 from "../assets/images/slide/Wanderlast-cronicles.png";
import img3 from "../assets/images/slide/social-radar.png";
import img4 from "../assets/images/slide/yoga-mind.png";
import img5 from "../assets/images/slide/WoMazing.png";
import img6 from "../assets/images/slide/robotechnics.png";

const HeaderData = [
  {
    supertitle: "Наші проєкти",
    title: "Деякі з Наших Кейсів",
    subtitle:
      "Ми віримо, що кожен сайт – це унікальна можливість створити щось особливе, щось, що залишить слід у цифровому світі. І ми вкладаємо всю свою пристрасть, знання та досвід, щоб зробити цю можливість реальністю.",
    color: "black", // Необязательный, с дефолтом "white" | "black";
    position: "left", // Необязательный, с дефолтом "left" | "center";
  },
];

const portfolio = [
  {
    title: "Georgia",
    imgSrc: img1,
    text: "Сайт, створений за допомогою сучасних веб-технологій має на меті познайомити відвідувачів з багатогранною Грузією, демонструючи її багаті традиції, неповторну кухню та мальовничу природу, щоб заохотити до її відвідування та поглибити культурне розуміння.",
  },
  {
    title: "Wanderlast cronicles",
    imgSrc: img2,
    text: "Сайт, розроблений із застосуванням стандартних веб-технологій має на меті надихнути та допомогти спланувати подорожі Європою, пропонуючи інформацію про різноманітні напрямки, культуру, визначні пам'ятки та практичні поради для самостійних мандрівників.",
  },
  {
    title: "Social Radar",
    imgSrc: img3,
    text: "Сайт, розроблений з використанням сучасних технологій веб-розробки є онлайн-платформою, створеною для забезпечення зручного та ефективного спілкування між користувачами з різними інтересами та цілями",
  },
  {
    title: "Yoga Mind",
    imgSrc: img4,
    text: "Сайт, створений за допомогою гнучких веб-технологій є інформаційною платформою, що пропонує різноманітні ресурси про йогу, включаючи її філософію, різні стилі, переваги для здоров'я та практичні поради для початківців і досвідчених практиків.",
  },
  {
    title: "WoMazing",
    imgSrc: img5,
    text: "Сайт, побудований на основі платформи для електронної комерції з використанням HTML, CSS та JavaScript, є онлайн-магазином одягу, що пропонує користувачам зручний інтерфейс для перегляду каталогу товарів, вибору розмірів та кольорів, додавання до кошика та оформлення замовлень з метою продажу...",
  },
  {
    title: "robotechnics",
    imgSrc: img6,
    text: "Сайт, розроблений із застосуванням адаптивних веб-технологій є онлайн-платформою друкарні, що надає користувачам можливість ознайомитися з переліком послуг, переглянути приклади робіт, замовити друк поліграфічної продукції та отримати консультацію.",
  },
];

const portfolioLength = portfolio.length;
---

<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="header-wrap">
      <HeaderBlock data={HeaderData} />
    </div>
    <main>
      <!--Каруселі -->
      <div class="embla" role="region" aria-label="Портфоліо, слайдер проєктів">
        <div class="embla__viewport" tabindex="0">
          <div class="embla__container">
            {
              portfolio.map((portfolio, index) => (
                <section
                  class="embla__slide"
                  role="group"
                  aria-roledescription="slide"
                  aria-label={`${portfolio.title} ${index + 1} з ${portfolioLength}`}
                >
                  <div class="embla__slide-slide">
                    <div class="embla__slide-img">
                      <Image
                        class="embla__slide-img__img"
                        src={portfolio.imgSrc}
                        widths={[280, 320, 350]}
                        sizes={`(max-width: 460px) 280px, (max-width: 756px) 320px, 350px`}
                        width={350}
                        height={500}
                        alt={`Веб-сайт: ${portfolio.title}. ${portfolio.text}`}
                      />
                    </div>
                    <div class="embla__slide-content">
                      <p class="embla__slide-title">{portfolio.title}</p>
                      <p class="embla__slide-text">{portfolio.text}</p>
                    </div>
                  </div>
                </section>
              ))
            }
          </div>
        </div>
        <button class="embla__prev" aria-label="Попередній слайд">
          <Arrow arrow="left" aria-hidden="true"/>
        </button>
        <button class="embla__next" aria-label="Наступний слайд"><Arrow arrow="right" aria-hidden="true"/></button>
      </div>
    </main>
  </div>
</section>
<section>------------------------------- СЕПАРАТОР -----------------------</section>
<!-- Скрипт Каруселі -->
<script>
  // Імпортуємо EmblaCarousel безпосередньо в скрипт
  import EmblaCarousel from "embla-carousel";

  const rootNode = document.querySelector(".embla") as HTMLDivElement;
  const viewportNode = rootNode.querySelector(".embla__viewport") as HTMLDivElement;
  const prevButtonNode = rootNode.querySelector(".embla__prev") as HTMLButtonElement;
  const nextButtonNode = rootNode.querySelector(".embla__next") as HTMLButtonElement;

  // Ініціалізуємо карусель
  const embla = EmblaCarousel(viewportNode);
  prevButtonNode.addEventListener("click", () => embla.scrollPrev(), false);
  nextButtonNode.addEventListener("click", () => embla.scrollNext(), false);
</script>

<style>
  .portfolio {
    padding-top: 60px;
    padding-bottom: 94px;
    background-color: var(--bg-white);
  }
  .header-wrap {
  }
  /** Стилізація каруселі */
  .embla {
    margin-top: 44px;
    position: relative;
    left: 0;
  }

  .embla__viewport {
    width: 100%;
    padding-right: 10px;
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    gap: 5%;
    justify-content: space-between;
  }
  .embla__slide {
    flex: 0 0 30%;
  }

  .embla__slide-slide {
    width: 100%;
  }

  .embla__slide-img {
    width: 100%;
    height: 500px;
  }

  .embla__slide-img__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 8px 8px 8px 0px rgba(21, 19, 32, 0.1);
  }

  .embla__slide-content {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .embla__slide-title {
    color: rgba(37, 34, 55, 1);

    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
  }

  .embla__slide-text {
    color: rgba(76, 73, 94, 0.7);

    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
  }

  .embla__prev,
  .embla__next {
    --button-padding: -85px;
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    background-color: transparent;
    border: transparent;
    padding: 0;
  }

  .embla__prev {
    left: var(--button-padding);
  }

  .embla__next {
    right: var(--button-padding);
  }
</style>
