---
import { Icon } from "astro-icon/components";

const { breakpoint } = Astro.props;
{
  /* desktop | mob */
}

const iconLinks = [
  { name: "instagram", href: "https://www.instagram.com/neuro_merejka/" },
  { name: "telegram", href: "https://t.me/DesignDevelopmentUA" },
  { name: "telephone", href: "tel:+380506005222" },
];
---

<nav class="nav-social" aria-label="Соціальні мережі" data-menu={breakpoint}>
  <ul class="nav-items" role="list" data-menu={breakpoint}>
    {
      iconLinks.map((item) => (
        <li class="nav-item" role="none">
          <a class="nav-item__link" href={item.href} aria-label={item.name}>
            <Icon name={`icon-${item.name}`} class="icon" aria-hidden="true"/>
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .nav-items {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  .nav-item__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    font-size: 1.5rem;
    color: var(--color-accent5);
    transition: all 0.7s;
  }

  .icon:hover {
    color: var(--hover-secondary);
  }

  @media (max-width: 992px) {
    .nav-social {
      display: none;
    }

    .nav-social[data-menu="mob"] {
      display: flex;
      /* display: none; */
      justify-content: center;
      width: 100%;
      border-top: 1px dashed rgba(239, 239, 239, 0.25);
    }

    .nav-items[data-menu="mob"] {
      margin-top: var(--gap-base);
    }

    .icon {
      font-size: 2.5rem;
    }
  }
</style>
